aiohttp==1.0.5
async-timeout==2.0.1
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
dblpy==0.1.6
discord==0.0.2
discord.py==0.16.12
idna==2.6
idna-ssl==1.0.1
multidict==4.3.1
nltk==3.3
pygame==1.9.3
ratelimiter==1.2.0.post0
requests==2.18.4
robobrowser==0.5.3
six==1.11.0
urllib3==1.22
virtualenv==15.2.0
virtualenvwrapper-win==1.2.5
websocket-client==0.48.0
websockets==3.4
Werkzeug==0.14.1
yarl==1.2.0
